.bg-warning {
    background-color: #f3ed00 !important;
}

.btn-warning {
    background-color: #f3ed00 !important;
    border-color: #f3ed00 !important;
}


body {
    font-family: 'Manrope', sans-serif !important;
}
